<%= form_with(model: message, url: [@chat, message], id: "new_message", class: "chat-input-form") do |form| %>
  <% if message.errors.any? %>
    <div style="color: red; margin-bottom: 1rem;">
      <p><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</p>
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="chat-input-wrapper">
    <%= form.text_area :content,
        class: "chat-input",
        placeholder: "Message...",
        autofocus: true,
        autocomplete: "off",
        rows: 1 %>
  </div>
<% end %>
