<% system ||= local_assigns[:message] %>
<div id="message_<%= system.id %>" class="message message--assistant">
  <div class="message__bubble">
    <div class="message__text"><%= simple_format(system.content) %></div>
  </div>
</div>
