<%# Typing Indicator %>
<div class="typing-indicator" id="typing-indicator">
  <div class="typing-indicator__bubble">
    <div class="typing-indicator__dots">
      <span class="typing-indicator__dot"></span>
      <span class="typing-indicator__dot"></span>
      <span class="typing-indicator__dot"></span>
    </div>
  </div>
</div>
