<%# Upgrade Prompt - Shown when rate limit is hit %>
<div class="upgrade-prompt">
  <div class="upgrade-prompt__card">
    <div class="upgrade-prompt__header">
      <div class="upgrade-prompt__icon">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
        </svg>
      </div>
      <div>
        <h4 class="upgrade-prompt__title">You've reached your free limit</h4>
        <p class="upgrade-prompt__subtitle">Upgrade to continue discovering apps</p>
      </div>
    </div>

    <div class="upgrade-prompt__pricing">
      <div class="upgrade-prompt__price-option">
        <p class="upgrade-prompt__price">$5</p>
        <p class="upgrade-prompt__price-period">per month</p>
      </div>
      <div class="upgrade-prompt__price-option">
        <p class="upgrade-prompt__price">$48</p>
        <p class="upgrade-prompt__price-period">per year (save 20%)</p>
      </div>
    </div>

    <%= link_to billing_index_path, class: "btn btn--white btn--full" do %>
      Upgrade Now
    <% end %>
  </div>
</div>
