<%# Stack Show Page %>
<div class="page-container page-container--with-mobile-nav">
  <div class="content-wrapper">
    <div class="page-header">
      <h1 class="page-title">Stack</h1>
    </div>
    <p>Viewing stack details...</p>
  </div>
</div>
