<% if flash.any? %>
  <div class="flash-messages">
    <% flash.each do |type, message| %>
      <div class="flash flash--<%= type %>">
        <p class="flash__message"><%= message %></p>
      </div>
    <% end %>
  </div>
<% end %>
